.form-container {
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.form {
    display: block;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto;
}

.form-container label {
    display: block;
}

.form-container input,
.form-container textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #516C8D;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #28385E;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #516C8D;
}

.form-container p {
    color: #28385E;
    margin-top: 5px;
}

.error-message{
    color:#FF0000 !important;
    font-size: 11pt;
}