.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh; /* 画面の高さ全体を使用 */
  gap: 20px; /* div要素間のスペースを追加 */
}

.leftSection {
  flex: 1; /* 左右のセクションが均等になるようにする */
  display: flex; /* Flexboxを使用する */
  flex-direction: column; /* 子要素を縦並びにする */
  gap: 20px; /* div要素間のスペースを追加 */
}

.rightSection {
  flex: 1;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
